@font-face {
  font-family: "PressStart2P";
  src: url("./fonts/PressStart2P.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PressStart2P", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Header Styling */
header {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

header nav a:hover {
  background-color: #555;
}

/* Game Container Styling */
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px; /* Untuk memberi jarak dari header */
  height: 100vh;
}

/* Styling untuk Canvas */
#gameCanvas {
  width: 560px;
  height: 560px;
  background-color: black;
  border: 2px solid #333;
}

/* Overlay Screen Styling */
.overlay-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#start-screen h1 {
  color: yellow;
  font-size: 4rem;
  margin-bottom: 40px;
  animation: colours 1s infinite;
}

#start-screen h2 {
  margin: 20px 0px;
  animation: blink 0.8s infinite;
}

#game-over-screen,
#you-won-screen {
  font-size: 6rem;
  animation: blink 0.8s infinite;
  display: none;
}

#game-over-screen {
  color: red;
}

#you-won-screen {
  color: #0bf117;
}

/* Styling untuk Score */
h2 {
  color: white;
  font-weight: normal;
  text-align: center;
}

.low-score {
  color: red;
}

.mid-score {
  color: yellow;
}

.high-score {
  color: red;
}

/* Animations */
@keyframes colours {
  0% {
    color: yellow;
  }
  31% {
    color: yellow;
  }
  33% {
    color: #dd1282;
  }
  65% {
    color: #dd1282;
  }
  66% {
    color: #0fd6cc;
  }
  99% {
    color: #0fd6cc;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}
